<div class="container px-4 py-3 mx-auto">
    <div class="card card0">
        <div class="d-flex flex-lg-row flex-column-reverse">
            <div class="card card1">
                <div class="row justify-content-center my-auto">
                    <div class="col-md-8 col-12">
                        <div class="row justify-content-center px-3 mb-3"> <img id="logo" src="assets/logo.png"> </div>
                        <!--<h3 class="mb-5 text-center heading">We are Tidi</h3>-->
                        <h6 class="msg-info">Profile registration</h6>
                        <div class="form-group"> 
                            <label class="form-control-label text-muted">Email Id</label> 
                            <input type="text" id="email" name="email" placeholder="Email Id" class="form-control"> 
                        </div>
                        <div class="form-group"> 
                            <label class="form-control-label text-muted">First Name</label> 
                            <input type="text" id="fname" name="fname" placeholder="First Name" class="form-control"> 
                        </div>
                        <div class="form-group"> 
                            <label class="form-control-label text-muted">Last Name</label> 
                            <input type="text" id="lname" name="lname" placeholder="Last Name" class="form-control"> 
                        </div>
                        <div class="form-group"> 
                            <label class="form-control-label text-muted">Education Qualification</label> 
                            <input type="text" id="education" name="education" placeholder="Education Qualification" class="form-control"> 
                        </div>
                        <div class="form-group"> 
                            <label class="form-control-label text-muted">Year Of Passing</label> 
                            <input type="text" id="year" name="year" placeholder="Year Of Passing" class="form-control"> 
                        </div>
                        <div class="form-group"> 
                            <label class="form-control-label text-muted">Technical Skills</label> 
                            <input type="text" id="tskills" name="tskills" placeholder="Technical Skills" class="form-control"> 
                        </div>
                        <div class="form-group"> 
                            <label class="form-control-label text-muted">Experience</label> 
                            <select name="experience" id="experience" class="form-control">
    <option value="">--Please choose an option--</option>
    <option value="fresher">Fresher</option>
    <option value="experience">Experience</option>
</select>
                        </div>
                        <div class="form-group"> 
                            <label class="form-control-label text-muted">Company</label> 
                            <input type="text" id="company" name="company" placeholder="Company" class="form-control"> 
                        </div>
                        <div class="form-group"> 
                            <label class="form-control-label text-muted">Current CTC</label> 
                            <input type="text" id="cuctc" name="cuctc" placeholder="Current CTC" class="form-control"> 
                        </div>
                        <div class="form-group"> 
                            <label class="form-control-label text-muted">Expect CTC</label> 
                            <input type="text" id="ectc" name="ectc" placeholder="Expect CTC" class="form-control"> 
                        </div>
                        <div class="form-group"> 
                            <label class="form-control-label text-muted">Location</label> 
                            <select name="state" id="state" class="form-control">
<option value="">--Select Your state</option>
<option value="Andhra Pradesh">Andhra Pradesh</option>
<option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
<option value="Arunachal Pradesh">Arunachal Pradesh</option>
<option value="Assam">Assam</option>
<option value="Bihar">Bihar</option>
<option value="Chandigarh">Chandigarh</option>
<option value="Chhattisgarh">Chhattisgarh</option>
<option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
<option value="Daman and Diu">Daman and Diu</option>
<option value="Delhi">Delhi</option>
<option value="Lakshadweep">Lakshadweep</option>
<option value="Puducherry">Puducherry</option>
<option value="Goa">Goa</option>
<option value="Gujarat">Gujarat</option>
<option value="Haryana">Haryana</option>
<option value="Himachal Pradesh">Himachal Pradesh</option>
<option value="Jammu and Kashmir">Jammu and Kashmir</option>
<option value="Jharkhand">Jharkhand</option>
<option value="Karnataka">Karnataka</option>
<option value="Kerala">Kerala</option>
<option value="Madhya Pradesh">Madhya Pradesh</option>
<option value="Maharashtra">Maharashtra</option>
<option value="Manipur">Manipur</option>
<option value="Meghalaya">Meghalaya</option>
<option value="Mizoram">Mizoram</option>
<option value="Nagaland">Nagaland</option>
<option value="Odisha">Odisha</option>
<option value="Punjab">Punjab</option>
<option value="Rajasthan">Rajasthan</option>
<option value="Sikkim">Sikkim</option>
<option value="Tamil Nadu">Tamil Nadu</option>
<option value="Telangana">Telangana</option>
<option value="Tripura">Tripura</option>
<option value="Uttar Pradesh">Uttar Pradesh</option>
<option value="Uttarakhand">Uttarakhand</option>
<option value="West Bengal">West Bengal</option>
</select> 
                        </div>
                        <div class="form-group"> 
                            <label class="form-control-label text-muted">Mobile No</label> 
                            <input type="no" id="phno" name="phno" placeholder="Mobile No" class="form-control"> 
                        </div>
                        <div class="form-group"> 
                            <label class="form-control-label text-muted">Notice Period</label> 
                            <input type="text" id="nperiod" name="nperiod" placeholder="Notice Period" class="form-control"> 
                        </div>
                        <div class="form-group"> 
                            <label class="form-control-label text-muted">Resume Upload</label> 
                            <input type="file" id="resume" name="file" placeholder="Resume Upload" class="form-control"> 
                        </div>
                        <div class="form-group"> 
                            <label class="form-control-label text-muted">Photo Upload</label> 
                            <input type="file" id="photo" name="photo" placeholder="Photo Upload" class="form-control"> 
                        </div>
                        <div class="row justify-content-center my-2 px-2"> <button class="btn-block btn-color">Sign Up</button> 
                        </div>
                    </div>
                </div>
                
                <div class="bottom text-center mb-5">
                    <button class="btn btn-white ml-2"><a routerLink="/profiles" class="sm-text mx-auto mb-3">profile</a></button>
                </div>
            </div>
        </div>
    </div>
</div>
